<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Volte sempre</title>
  </head>
  <body>
    <header>
      <h1>EquipManage</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users">Usuários</a></li>
          <li><a href="/clientes">Clientes</a></li>
          <li><a href="/equipamentos">Equipamentos</a></li>
          <li><a href="/funcionarios">Equipe Técnica</a></li>
          <li><a href="/certificados">Certificados</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <h2>Obgrigado!</h2>
    </section>
  <footer>
    <div class="container-footer">
      <div class="row-footer">
          <!-- footer col-->
          <div class="footer-col">
              <h4>Empresa</h4>
              <ul>
                  <li><a href="#"> Quem somos </a></li>
                  <li><a href=""> nossos serviços </a></li>
                  <li><a href=""> política de privacidade </a></li>
              </ul>
          </div>
          <!--end footer col-->
          <!-- footer col-->
          <div class="footer-col">
              <h4>Obter ajuda</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Documentação</a></li>
                <li><a href="#">Suporte Técnico</a></li>
                <li><a href="#">Status do Sistema</a></li>
                <li><a href="#">Blog de Atualizações</a></li>
                <li><a href="#">Termos de Serviço</a></li>
                <li><a href="#">Política de Privacidade</a></li>
         
            </ul>
            
          </div>
          <!--end footer col-->
          <!-- footer col-->
          <div class="footer-col">
              <h4>Loja online</h4>
              <ul>
                <li><a href="#">API</a></li>
                <li><a href="#">Integrações</a></li>
                <li><a href="#">Roadmap</a></li>
                <li><a href="#">Comunidade</a></li>
              </ul>
          </div>
          <!--end footer col-->
          <!-- footer col-->
          <div class="footer-col">
              <h4>Se subescreva!</h4>
              <div class="form-sub">
                  <form>
                      <input type="email" placeholder="Digite o seu e-mail" required>
                      <button>subscrever</button>
                  </form>
              </div>

              <div class="medias-socias">
                  <a href="#"> <i class="fa fa-facebook"></i> </a>
                  <a href="#"> <i class="fa fa-instagram"></i> </a>
                  <a href="#"> <i class="fa fa-twitter"></i> </a>
                  <a href="#"> <i class="fa fa-linkedin"></i> </a>
              </div>

          </div>
          <!--end footer col-->
      </div>
  </div>
  </footer>
</body>
</html>
