<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Usuários</title>
</head>
<body>
  <header>
    <h1>Usuários</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Usuários</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/equipamentos">Equipamentos</a></li>
        <li><a href="/funcionarios">Equipe Técnica</a></li>
        <li><a href="/certificados">Certificados</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Lista de Usuários</h2>
    <table id="userTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="userList"></tbody>
    </table>
    <h2>Adicionar Usuário</h2>
    <form id="userForm">
      <label for="name">Nome:</label><br>
      <input type="text" id="name" name="name" required><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      <input type="submit" value="Adicionar">
    </form>
    <h2>Atualizar Usuário</h2>
    <form id="updateUserForm" style="display: none;">
      <input type="hidden" id="updateId" name="id">
      <label for="updateName">Nome:</label><br>
      <input type="text" id="updateName" name="name" required><br>
      <label for="updateEmail">Email:</label><br>
      <input type="email" id="updateEmail" name="email" required><br><br>
      <input type="submit" value="Atualizar">
    </form>
  </main>
  <footer>
    <p>&copy; 2024 Empresa XYZ. Todos os direitos reservados.</p>
  </footer>
  <script>
    async function fetchUsers() {
      try {
        const response = await fetch('/api/users');
        const users = await response.json();

        const userList = document.getElementById('userList');
        userList.innerHTML = '';
        users.forEach(user => {
          const row = document.createElement('tr');

          row.innerHTML = `
            <td>${user.id}</td>
            <td>${user.name}</td>
            <td>${user.email}</td>
            <td class="actions">
              <button class="edit" onclick="editUser(${user.id}, '${user.name}', '${user.email}')">Editar</button>
              <button class="delete" onclick="deleteUser(${user.id})">Deletar</button>
            </td>
          `;
          userList.appendChild(row);
        });
      } catch (error) {
        console.error('Erro ao buscar usuários:', error);
      }
    }

    document.getElementById('userForm').addEventListener('submit', async function(event) {
      event.preventDefault();

      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;

      const newUser = { name, email };

      try {
        const response = await fetch('/api/users', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(newUser)
        });

        if (response.ok) {
          fetchUsers();
        } else {
          console.error('Erro ao adicionar usuário:', response.statusText);
        }
      } catch (error) {
        console.error('Erro ao adicionar usuário:', error);
      }
    });

    function editUser(id, name, email) {
      document.getElementById('updateId').value = id;
      document.getElementById('updateName').value = name;
      document.getElementById('updateEmail').value = email;
      document.getElementById('updateUserForm').style.display = 'block';
    }

    document.getElementById('updateUserForm').addEventListener('submit', async function(event) {
      event.preventDefault();

      const id = document.getElementById('updateId').value;
      const name = document.getElementById('updateName').value;
      const email = document.getElementById('updateEmail').value;

      const updatedUser = { name, email };

      try {
        const response = await fetch(`/api/users/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(updatedUser)
        });

        if (response.ok) {
          fetchUsers();
          document.getElementById('updateUserForm').style.display = 'none';
        } else {
          console.error('Erro ao atualizar usuário:', response.statusText);
        }
      } catch (error) {
        console.error('Erro ao atualizar usuário:', error);
      }
    });

    async function deleteUser(id) {
      try {
        const response = await fetch(`/api/users/${id}`, {
          method: 'DELETE'
        });

        if (response.ok) {
          fetchUsers();
        } else {
          console.error('Erro ao deletar usuário:', response.statusText);
        }
      } catch (error) {
        console.error('Erro ao deletar usuário:', error);
      }
    }

    fetchUsers();
  </script>
</body>
</html>

