<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificados</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Certificados</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Usuários</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/equipamentos">Equipamentos</a></li>
        <li><a href="/funcionarios">Funcionários</a></li>
        <li><a href="/certificados">Certificados</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Lista de Certificados</h2>
    <div id="certificateList"></div>
  </main>
  <footer>
    <p>&copy; 2024 Empresa XYZ. Todos os direitos reservados.</p>
  </footer>
  <script>
    fetch('/api/certificados')
      .then(response => response.json())
      .then(data => {
        const certificateList = document.getElementById('certificateList');
        data.forEach(certificate => {
          const certificateDiv = document.createElement('div');
          certificateDiv.textContent = `ID: ${certificate.id}, Equipamento: ${certificate.equipamento.nome}, Cliente: ${certificate.cliente.name}, Funcionário: ${certificate.funcionario.name}, Detalhes: ${certificate.otherDetails}`;
          certificateList.appendChild(certificateDiv);
        });
      })
      .catch(error => console.error('Erro ao buscar certificados:', error));
  </script>
</body>
</html>